/*General*/
*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 1.625rem;
}
h3{
    font-size: 1.2rem;
}
/*Fondo*/
html, body, .cover{
    height: 100%;
}

/**/
.cover{
    
    background: url( ../img/MX-es-20210104-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    
    
    
}


section.headerp{
    background: none;
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to top, rgba(0,0,0,.1));
}

nav{
    margin: 0 3.5rem;
    padding-top: 26px;
}

div.logo{
    float: left;
}

div.login{
    float: right ;
}

div.login span{
    padding: 7px;
    background-color:#e50914;
    border-radius: 4px;
}

div.login span:hover{
    cursor: pointer;
    background-color:#72060c;
    transition: all 0.3s ease;
    
}

.presentacion {
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.presentacion input{
    width: 80%;
    height: 48px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px #73C5E0;
    padding-left: 5px;
    color:black;
}
.presentacion span{
    background-color: #ad0911 ;
    padding:1rem;
    padding-bottom: 15px;
    border-radius: 2px 0px 0px 2px;
    font-size: 1rem;
    /*flex: 1 1 auto;*/
    text-align: center;
    
}
.presentacion span:hover{
    cursor: pointer;
    background-color:#72060c;
    transition: all 0.5s ease;
}